@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: 'Courier New', Courier, monospace;
}

.markdown > * {
  all: revert;
}

a {
  @apply text-blue-600 underline;
}

* {
  z-index: 0;
  margin: 0;
  padding: 0;
}

.dndflow {
  @apply flex flex-col flex-grow h-full
  /* flex-direction: column;
  display: flex;
  flex-grow: 1;
  height: 100%; */;
}

.react-flow {
  @apply absolute;
}

.dndflow aside {
  @apply absolute border-r-2 border-solid border-gray-200 py-3.5 px-2.5 text-xs bg-white
  /* position: absolute;
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc; */;
}

.dndflow aside .description {
  @apply mb-3;
}
.Gill-Sans {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.markdownBG {
  @apply opacity-80 z-10 w-full h-full border-r-2 border-solid text-xs bg-slate-500
  /* opacity: 0.8;
  z-index: 1;
  width: 100vw;
  height: 100%;
  border-right: 1px solid #eee;
  font-size: 12px;
  background: #4e4e4e; */;
}

input {
  @apply border-2 ml-4 mr-4;
}

.markdown {
  @apply opacity-100 w-3/12 h-full z-20 absolute top-0 right-0 bg-white pl-4 pt-4 pr-4
  /* opacity: 1;
  width: 20vw;
  height: 100%;
  z-index: 2;
  position: absolute;
  right: 0;
  font-size: 12px;
  background: #ffffff; */;
}

/* .dndflow .flex-markdown {
  display: flex;
  flex-direction: column;
  align-items: stretch;
} */

.dndflow .text-area-style {
  @apply w-full h-1/3  m-0 px-2 place-content-center;
  height: 200px;
  outline: 1px solid black;
}

.dndflow .markdown-buttons {
  @apply w-full h-1/3  m-2 p-3  place-content-center;
  top: 200px;
}

.dndflow .description-area {
  @apply place-content-center;
}

.dndflow .custom {
  @apply absolute left-0 top-52 border-solid border-r-2 text-xs border-gray-200 py-3.5 px-2.5 w-60
  /* border-r-2 border-solid border-gray-200 py-3.5 px-2.5 text-xs bg-white */
  /* position: absolute;
  right: 0;
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  background: #fcfcfc; */;
}

.dndflow .custom-name-input {
  @apply mt-4;
}

.dndflow .custom-menu-buttons {
  @apply clear-both m-4 ml-0;
}

.dndflow .custom-button {
  @apply clear-both m-2 bg-white p-2 w-24;
}

.dndflow .dndnode {
  @apply h-8 p-1 border-2 border-solid border-black rounded-sm mb-2 flex justify-center items-center cursor-grab
  /* height: 20px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: grab; */;
}

.dndflow .dndnode.input {
  @apply border-orange-900 rounded-md hover:bg-gray-100;
}

.dndflow .dndnode.output {
  @apply border-green-700 rounded-md hover:bg-gray-100;
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
  /*   z-index: 100000; */

  /*   @apply z-20; */
}

.dndflow .selectall {
  @apply mt-3
  /* margin-top: 10px; */;
}

@media screen and (min-width: 768px) {
  .dndflow {
    @apply flex flex-row
    /* flex-direction: row; */;
  }

  .dndflow aside {
    @apply w-1/5 max-w-xs mt-48 border-0;
  }
  .dndflow aside > div {
    @apply border-2 rounded-xl p-6;
  }
}

.React-Flow-Container {
  position: relative;
  top: 0px; /* position below the Navbar */
  left: 0px; /* position to the right of the Sidebar */
  height: calc(100%); /* subtract the height of the Navbar */
  width: calc(100%); /* subtract the width of the Sidebar */
  /* height: calc(100% - 80px); */ /* subtract the height of the Navbar */
  /* width: calc(100% - 200px); */ /* subtract the width of the Sidebar */
}
